tests/logs/
data/
__pycache__
logs/
submission/
.vscode/
results/
logs_old/
build/
weights/
inference_imagery/
ftw_tools.egg-info/
*.ckpt
*.aux.xml
*.gpkg
.pytest_cache/
/results.csv
/austria_example_output_full.gpkg
/austria_example_output_full.tif
/dist
/weights/
/.ruff_cache/
/.pixi/
.DS_Store
# Results from finetuning and baseline testing
finetune_results/
baseline_test_results/
# Baseline and Finetune checkpoints

# Python virtual environments
venv/
.venv/
env/
ENV/
*.pyc
*.pyo
*.egg-info/

# Some images for interence testing
tests/data-files/
tests/Spot_inference/

# Some extra inference data no one needs
inference_output/

3_Class_CCBY_v1_finetune/
3_Class_FULL_multiWindow_v2_finetune/
3_Class_FULL_v1_finetune/

# Finetune checkpoints
PRUE_EFNET_B3_finetune/
PRUE_EFNET_B3_finetune_gpu1/
PRUE_EFNET_B5_finetune/
PRUE_EFNET_B7_finetune/
PRUE_EFNET_B7_finetune_weight_true/
PRUE_EFNET_B7_finetune_frozen_backbone/
PRUE_EFNET_B7_finetune_spot/
PRUE_EFNET_B7_finetune_kenya_rwanda/
PRUE_EFNET_B7_finetune_s2/
# Large test imagery (use locally or via DVC/Git LFS if needed)
tests/Spot_inference/

# New performant Models
prue_efnetb5_ccby_checkpoint.ckpt
